.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.productGrid a {
  filter: drop-shadow(0 0 2px #7e7e7e);
}

.productGrid a:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
